@keyframes moveRight {
	0% {
		opacity: 0;
		transform: translateX(-5rem);
	}

	90% {
		transform: translateX(1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveLeft {
	0% {
		opacity: 0;
		transform: translateX(5rem);
	}

	90% {
		transform: translateX(-1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveUp {
	0% {
		opacity: 0;
		transform: translateY(5rem);
	}

	90% {
		transform: translateY(-1rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
