// Reset On Each And Every Element On Page
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// Root Settings
html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  box-sizing: border-box;
}