body {
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 300;
	line-height: 1.5;
	color: $color-grey-dark;
}

h1,
h2,
h3 {
	text-transform: uppercase;
	font-weight: 500;
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 4rem;
	letter-spacing: 2px;
	word-spacing: 0.7rem;
	display: block;
	background-image: linear-gradient(to right, $color-primary-light, $color-primary);
	-webkit-background-clip: text;
	color: transparent;
}

h3 {
	font-size: 1.5rem;
	letter-spacing: 1px;
	color: $color-grey;
	font-weight: 500;
}

.about-text__para {
	font-size: 1.4rem;
	font-weight: 400;
	letter-spacing: 1px;
	width: 90%;
}
