// Text Align
.center-text {
  text-align: center;
}

// Margin Bottom
.mb-large {
  margin-bottom: 8rem;
}

.mb-medium {
  margin-bottom: 4rem;
}

.mb-small {
  margin-bottom: 1.5rem;
}

// Margin Top
.mt-large {
  margin-top: 8rem;
}

.mt-medium {
  margin-top: 4rem;
}

.mt-small {
  margin-top: 1.5rem;
}

// Margin left

.ml-small {
  margin-left: 1.5rem;
}

.ml-medium {
  margin-left: 4rem;
}

.ml-large {
  margin-left: 8rem;
}

.hidden {
  display: none;
}
