section.section__footer
  .section__footer--grid
    .footer__logo-box
      img.footer__logo-box--logo(src='/img/homeImage/logo-white.png' alt='company-logo')
      p.footer__logo-box--para &copy; Sanjeev and industries.
      p.footer__logo-box--para All rights reserved.
    .explore
      h4.footer__heading Explore
      ul.footer__list
        li.footer__item
          a.footer__item--content(href='#') Home
        li.footer__item
          a.footer__item--content(href='#') About
        li.footer__item
          a.footer__item--content(href='http://127.0.0.1:5501/public/toursCombine.html') Discover Tours
        li.footer__item
          a.footer__item--content(href='#') Careers
    .follow
      h4.footer__heading Follow
      ul.footer__list
        li.footer__item.footer__item--svg
          svg.footer__svg
            use(xlink:href='/img/sprite.svg#icon-facebook')
          a.footer__item--content(href='https://www.facebook.com/profile.php?id=100004895926912' target='_blank') Facebook
        li.footer__item.footer__item--svg
          svg.footer__svg
            use(xlink:href='/img/sprite.svg#icon-twitter')
          a.footer__item--content(href='#') Twitter
        li.footer__item.footer__item--svg
          svg.footer__svg
            use(xlink:href='/img/sprite.svg#icon-youtube')
          a.footer__item--content(href='#') Youtube
        li.footer__item.footer__item--svg
          svg.footer__svg
            use(xlink:href='/img/sprite.svg#icon-instagram-with-circle')
          a.footer__item--content(href='https://www.instagram.com/sanjeev_ray62/' target='_blank') Instagram
    .contact
      h4.footer__heading Contact Us
      ul.contact.footer__list
        li.footer__item.footer__item--svg
          svg.footer__svg
            use(xlink:href='/img/sprite.svg#icon-mail')
          a.footer__item--content(href='#') Email Us
        li.footer__item.footer__item--svg
          svg.footer__svg
            use(xlink:href='/img/sprite.svg#icon-old-phone')
          a.footer__item--content(href='#') Call Us
    .visit
      h5.footer__heading Visit Us
      p.footer__item @ My dream location.
      p.footer__item Around the globe.
    .legal
      h4.footer__heading Legal
      ul.footer__list
        li.footer__item
          a.footer__item--content(href='#') Terms
        li.footer__item
          a.footer__item--content(href='#') Privacy