extends base

block content 

  header.home-header
    .text-container
      .text-container__logo.mb-medium
        img.text-container__logo--company(src='/img/homeImage/logo-white.png' alt='company-logo')
      h1.text-container__heading outdoors
      p.text-container__paragraph.mb-large is where life happens
      a.btn.text-container__btn(href='/tours') discover our tours
    // <div class="image-container"></div>
  main
    section.section__about
      h2.mb-large.center-text exciting tours for adventurous people
      .about-content
        .about-text
          h3.mb-small you are going to fall in love with the nature
          p.about-text__para.mb-medium
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque labore qui ea, maiores
            | dolorum rerum quas doloribus quaerat repellat quos aliquid velit autem vel. Cupiditate
            | nesciunt voluptatem facere quaerat cum?
          h3.mb-small live adventurous, like you have never before
          p.about-text__para.mb-medium
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad voluptas tempora quas
            | necessitatibus, voluptates voluptate quae laborum explicabo est
          a.btn.about__btn(href='#') learn more &rarr;
        .about-image
          .about-image--composition
            img.about-image--1.about-image--pic(src='/img/homeImage/nat-1.jpg' alt='about-image--1')
            img.about-image--2.about-image--pic(src='/img/homeImage/nat-2.jpg' alt='about-image--2')
            img.about-image--3.about-image--pic(src='/img/homeImage/nat-3.jpg' alt='about-image--3')
    section.section__features
      .features
        .features__box
          svg.features__svg
            use(xlink:href='/img/sprite.svg#icon-world')
          h3.features__heading.mb-small explore the world
          p.features__paragraph
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, reprehenderit voluptatum.
            | Asperiores, esse illum. Perferendis sint minima consectetur id sed.
        .features__box
          svg.features__svg
            use(xlink:href='/img/sprite.svg#icon-photo')
          h3.features__heading.mb-small meet nature
          p.features__paragraph
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, reprehenderit voluptatum.
            | Asperiores, esse illum. Perferendis sint minima consectetur id sed.
        .features__box
          svg.features__svg
            use(xlink:href='/img/sprite.svg#icon-location')
          h3.features__heading.mb-small find your way
          p.features__paragraph
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, reprehenderit voluptatum.
            | Asperiores, esse illum. Perferendis sint minima consectetur id sed.
        .features__box
          svg.features__svg
            use(xlink:href='/img/sprite.svg#icon-heart')
          h3.features__heading.mb-small live a healthy life
          p.features__paragraph
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, reprehenderit voluptatum.
            | Asperiores, esse illum. Perferendis sint minima consectetur id sed.
    section.section__tours
      h2.section__tours--heading.mb-large.mt-large most popular tours
      .tours__grid
        each tour in tours
          include _card

      a.section__tours-btn.btn(href='/tours') Discover our tours
    include _signIn
    