extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your password!
  p Please click on this link and send your new password with Password Confirm to reset your password. IF you didn't forgot your password, please ignore this email.

  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset Password
  p If you need any help with resetting your password, please feel free to contact me!
  p - Sanjeev Ray, CEO