.section__images {
	&--heading {
		// background-image: linear-gradient(to right, $color-white, $color-grey-light-1);
		// -webkit-background-clip: text;
		color: $color-white;
		text-align: center;
	}
}

.image__container {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 1rem;
	overflow-x: scroll;
}
