// $color-primary: #ff8008;
// $color-primary-light: #ffc837;

// $color-secondary: #1a2980;
// $color-secondary-light: #26d0ce;

$color-primary: #ff7730;
$color-primary-dull: #f49e18;
$color-primary-light: #ffb900;

$color-secondary: #5643fa;
$color-secondary-light: #2998ff;

$color-tertiary: #55c57a;
$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-grey: rgb(119, 119, 119);
$color-grey-1: #757f9a;
$color-grey-light: #f7f7f7;
$color-grey-light-1: #d7dde8;
$color-grey-dark: #999;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;

$color-white: #fff;
$color-black: #000;

// #777
// #e0e0e0;
